body {
  padding: 0;
}

.brand{
  font-weight: bold;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5rem;
}

.navbar_links{
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem
}

.margin_center{
  margin: 15px;
}

.ul_clean{
  list-style: none;
}

.heart{
  color: #ff4136;
}

.container{
  width: 90% !important;
	max-width: 1280px !important;
	margin: auto !important;
}

.dashboard_button_container{
  width: 60%;
  margin: auto;
}

.panel-default{
  width: 65%;
  margin: auto;
}

.panel-default_login{
  width: 40%;
  margin: auto;
}

// ---------- Login ---------- //

.wrapper_login{
  margin-top: 10.5em;
}


// ---------- Search ---------- //

.search{
  width: 50%;
  margin: auto;
}
