// ---------- General Styles ---------- //

*{
  transition: all 300ms ease-in-out !important;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, verdana, sans-serif !important;
  padding: 0;
}

.margin_center{
  margin: 15px;
}

.ul_clean{
  list-style: none;
}

.heart{
  color: #ff4136;
}

.container{
  width: 90% !important;
	max-width: 1280px !important;
	margin: auto !important;
}

.panel-default{
  width: 65%;
  margin: auto;
}

.panel-default_login{
  width: 40%;
  margin: auto;
}

// ---------- Navigation Styles ---------- //

.brand{
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar_links{
  font-size: 1.6rem
}

// ---------- Dashboard Styles ---------- //

.dashboard_button_container{
  width: 60%;
  margin: auto;
}

// ---------- Login Styles ---------- //

.wrapper_login{
  margin-top: 10.5em;
}

// ---------- Search Styles ---------- //

.search{
  width: 50%;
  margin: auto;
}
